<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url" placeholder="Input your URL">
	<input type="submit" value="Submit Your URL">
</form>


<p>shortened url: <%= url %></p>

<a href="/count"> Show Link Count:</a<

	
