

<html>
	<head>
		<title>Sinatra Framework</title>
		<link rel="stylesheet" type="text/css" href="css/application.css">
	</head>
	<body>
		<img src= "https://upload.wikimedia.org/wikipedia/commons/a/ae/Ulule_logo.gif"alt="http://localhost:9393/"style="width:120px;height:120px;">
		<div id='container'>
		<%= yield %>
		</div>
	</body>
</html>

